* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
/* Header */
header {
  padding: 50px;
  background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(../images/header-bg.jpg);
  background-position: center;
}

header * {
  color: #fff;
}
.nav-bar {
  justify-content: space-between;
}
.logo-img {
  padding: 2px;
}
ul {
  list-style: none;
}
.menu-item {
  padding: 0 10px;
}
.menu-link {
  text-decoration: none;
  text-transform: uppercase;
}
#languages {
  background: transparent;
  border: 0;
}
.login-btn {
  background: transparent;
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 10px 28px;
}

.content {
  margin-top: 150px;
}
.description {
  margin-top: 30px;
  text-align: center;
  line-height: 1.5rem;
}

.signup-btn {
  margin: 50px 0 180px 0;
  padding: 10px 30px;
  color: #ee3d1b;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 1px #fff;
}

/* Overview */
.overview-content {
  padding: 140px 100px 95px 0;
}

.overview-content a {
  text-decoration: none;
  color: #ee3d1b;
}

.overview-heading {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 43px;
  letter-spacing: 1.5px;
}

.overview-para {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 20px;
}

.learn-more {
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: justify;
}

.overview-video {
  position: relative;
}
.play-button {
  position: absolute;
  top: calc(50% - 33px);
  left: -33px;
}

/* Features */
.feature-section {
  background: #fafafa;
}
.feature-heading {
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  padding: 60px;
}

.feature-detail {
  width: 293px;
  height: 198px;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  z-index: 1000000000;
  position: relative;
}
.read-more {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  width: 253px;
  height: 18px;

  color: #ed4c5c;
}

.feature-detail-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.feature-detail-content {
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  padding-bottom: 25px;
}

/* Technology */
.tech-heading {
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  padding: 60px;
}

.technology {
  width: 255px;
  height: 226px;
  text-align: center;
}
.technologies {
  padding-bottom: 105px;
}

.technology h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tech-num {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tech-image {
  position: relative;
  margin-top: -50px;
  z-index: 1;
}

/* Focus */
.join-section {
  background: #ed4c5c;
  color: #fff;
  padding: 95px 0px;
}
.focus-text {
  width: 445px;
}
.focus-text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 40px;
}

.focus-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  text-align: justify;
  margin-bottom: 40px;
}
.app-img {
  margin-right: 28px;
}

.videos-slider {
  width: 50%;
  position: relative;
}

.video3 {
  width: 383px;
  height: 267px;
  position: absolute;
  top: 22px;
  right: 44px;
}
.video2 {
  width: 383px;
  height: 267px;
  position: absolute;
  top: 22px;
  left: -44px;
}
.top-video {
  width: 445px;
  height: 311px;
  position: relative;
  z-index: 10;
}

/* Contact */
.contact-section {
  padding: 115px 0;
}
.contact {
  width: 445px;
}
.contact h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 50px;
}
.contact p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-align: justify;
}

input,
select {
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  border: 1px solid #333333;
  border-radius: 6px;
  margin-bottom: 10px;
}
button {
  padding: 13px 34px;
  color: #fff;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
}

.contact-form{
    margin-left: 100px;
}


input[type="text"]{
    width: calc((100% - 20px - 4px)/2);
}
.first-name{
    margin-right: 20px;
}
input[type="tel"],
select{
    width: 100%;
}

/* Footer */
footer{
    background-color: #fafafa;
    padding: 85px 0;
}

