.alerts{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.alert {
    width: fit-content;
    padding: 10px;
    background-color: pink;
    color: back;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border: 1px solid black; 
}

#open-button{
    width: auto;
    height: 30px;
    margin-left: 10px;
    background-color: pink;
}
.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}