input:invalid + .invalid-feedback {
    display: block;
}

.page-item:not(.active) .page-link {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

.search-form {
    flex: 1;
}

#search {
    width: 300px;
    margin-right: 10px;
}
