*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#b6b89d ;
	
}
.container{
    position: relative;
    background-color: blue;
    border-radius: 15px;
	max-width: 500px;
	padding: 20px;
	margin: 50px auto; 
	display: flex

}
.addTask{
    display: flex;
}
h3{
	margin-bottom: 5px;
	font-size: larger;
}
.addTask > input[type="text"]{
	width: 90%;
	color: rgb(148, 138, 138);
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 20px;
    outline: none;
    
}
.addTask button{
	margin: 0 10px;
	background:#999b84;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

h3{
	font-size: larger;
	color: rgb(51, 49, 49);
}

ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	padding: 5px;
	margin: 5px 0;
	background: ;
	font-size: 20px;
	counter-increment: my-counter;
}



li button{
	background-color: cadetblue;
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}



