*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--container-size: 600px;
}
body{
	height: 100vh;
	background: #999b84;
}
.container{
	background-color: white;
	position: relative;
	width: var(--container-size);
	padding: 10px;
	margin: 30px auto;
	border-radius: 1rem;
	display: flex;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.addTask button{
	margin: 0 10px;
	background:#999b84;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
.pending, .done{
	margin: 5px 0;
	padding: 10px;
}
h3{
	font-size: 22px;
	color: rgb(88, 86, 86);
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: calc(var(--container-size) * .93);
	color: rgb(68, 66, 66);
	padding: 5px;
	margin: 5px 0;
	background:none;
	font-size: 20px;
	counter-increment: my-counter;
}


.pending li{
	background-color: #cdd0cb;
	border-radius: 3px;
}
.done li{
	background-color:#d8b3a5;
	border-radius: 3px;
}
li button{
	float: right;
	padding: 5px;
	font-size: 20px;
	line-height: 20px;
	margin-right: 5px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
